* {
	font-family: 'Roboto', sans-serif;
}

#cover {
	width: 100%;

	position: relative;
}

.cover-layer {
	position: absolute;
	left: 100px;
}

#cover-logo {
	margin-top: 60px;
	margin-bottom: 40px;
}

#cover-logo > img {
	padding: 10px;
	background-color: white;
}

#cover-upper > h2 {
	/*background-color: red;*/
	font-size: 2.5em;
	color: white;
	text-shadow: 1px 1px 1px #444;
	background-color: rgba(168, 174, 186, 0.5);
	display: table;
	padding: 7px;
}

#logo-img{
	height: 100%;
}

#filters-container {
	left: 0;
	width: 100%;
	background-color: rgba(168, 174, 186, 0.8);
	/*margin-top: 546px;*/
	padding: 10px 0 20px 0;

	height: 100px;
	position: absolute;
	bottom: 0px;
}

.filter-name {
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin-bottom: 8px;
}

.filter{
	width: 20%;
	float: left;
}

#filter-prompt {
	color: white;
	font-weight: 700;
	margin: 10px 0;
	text-decoration: underline;
}

#btn-apply-filter{
	cursor: pointer;
	background-color: red;
	float: left;
	padding: 10px 20px;
	font-weight: 700;
	color: white;
	background-color: #586178;
	border-radius: 3px;
	margin-top: 22px;
	font-size: 16px;
}

#kevin-list{
	display: table;
    margin: auto;
    margin-top: 30px;
}

.kevin{
	padding: 15px 10px;
	display: table;
	margin-bottom: 20px;
	position: relative;

	cursor: pointer;

	box-shadow: 2px 2px 2px #888;
	background-color: #ececec;

	border-radius: 2px;
}

.kevin-name {
	font-weight: 700;
	font-size: 1.2em;
}

.kevin-profile{
	float: left;
	height: 80px;
}

.profile-img{
	height: 100%;
}

.profile-right{
	float: left;
	width: 530px;
	margin-left: 20px;
}


.share-wrap{
	position: absolute;
	right: 10px;
	top: 20px;
}


.star-bar{
	position: absolute;
    right: 0px;
    top: 0px;
}

.star{
	width: 20px;
}

.working-days{
	display: table;
	margin-top: 5px;
	margin-bottom: 5px;
}

.workday{
	width: 28px;
	height: 28px;
	float: left;
    text-align: center;
    /*border-style: solid;*/
    line-height: 24px;
    color: white;
    background-color: #444;
    padding: 2px;
    margin-right: 2px;
}

.fixed{
	position:fixed  !important; 
	top:0; left:0; z-index:2; width:100%;
	margin-top: 0px !important;
	background-color: rgba(168, 174, 186, 1) !important;
}

.service-tags > button {
	margin: 2px;
	padding: 3px 5px;
	border: none;
	border-radius: 3px;
	background-color: #586178;
	color: white;
}

.service-tags > button:hover() {
	margin: 2px;
	padding: 3px 5px;
	border: none;
	border-radius: 3px;
	background-color: #586178;
	color: white;
}

.comments-wrap {
	margin-top: 5px;
	padding-right: 24px;
}

.comment-title {
	font-weight: 700;
	font-size: 1.2em;
}

.comment:first-child{
	border-top-width: 0px; 
}

.comment {
    padding-bottom: 15px;
    padding-top: 15px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-width: 1px;
}
