* {
	font-family: 'Roboto', sans-serif;
}

#cover {
	width: 100%;
}

.cover-layer {
	position: absolute;
	left: 100px;
}

#cover-logo {
	margin-top: 60px;
	margin-bottom: 40px;
}

#cover-logo > img {
	padding: 10px;
	background-color: white;
}

#cover-upper > h2 {
	/*background-color: red;*/
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px #444;
}

#logo-img{
	height: 100%;
}

#filters-container {
	left: 0;
	width: 100%;
	background-color: rgba(168, 174, 186, 0.8);
	margin-top: 546px;
	padding: 10px 0 20px 0;
}

.filter-name {
	font-size: 16px;
	color: white;
	font-weight: 700;
	margin-bottom: 8px;
}

.filter{
	width: 20%;
	float: left;
}

#filter-prompt {
	color: white;
	font-weight: 700;
	margin: 10px 0;
	text-decoration: underline;
}

#btn-filter-confirm {
	background-color: red;
	float: left;
	padding: 10px 20px;
	font-weight: 700;
	color: white;
	background-color: #586178;
	border-radius: 3px;
	margin-top: 22px;
	font-size: 16px;
}

#kevin-list{
	display: table;
    margin: auto;
    margin-top: 30px;
}

.kevin{
	padding: 20px 10px;
	display: table;
	margin-bottom: 20px;
	position: relative;

	cursor: pointer;

	box-shadow: 2px 2px 2px #888;
	background-color: #ececec;
}

.kevin-profile{
	float: left;
	height: 80px;
}

.profile-img{
	height: 100%;
}

.profile-right{
	float: left;
	width: 530px;
	margin-left: 20px;
}


.share-wrap{
	position: absolute;
	right: 0px;
	top: 0px;
}


.star-bar{
	position: absolute;
    right: 0px;
    top: 0px;
}

.star{
	width: 20px;
}

.workday{
	width: 20px;
	height: 20px;
	float: left;
    text-align: center;
}